/* header and nevegation styls */
.header {
    background: #FFF8F3;
    padding: 20px;
}

.font {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navs {
    margin-left: 50px;
}

.nav-titel {}

nav ul {
    display: flex;
    align-items: center;
}

.ul {
    margin-right: 100px;
}

nav li {
    list-style: none;
    margin: 10px;
    font-size: 20px;

}


/* banner styles */
.banner {
    align-items: center;
}

h1 {
    font-size: 50px;
}

.banner-title {
    text-align: center;
}

.btn-primari {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 54px;
    border-radius: 5px;
    background: #FD6E0A;
}

.banner-img {
    width: 1100px;
    height: 500px;
    padding-left: 100px;
    margin-top: 50px;
}

/* Main Section */

main {
    padding: 120px;
}

.container {
    display: flex;
    margin-top: 50px;
}

.container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-left: 200px; */
}

.img-size {
    height: 250px;
    width: 250px;
    padding: 5px;
}

.container-title {
    padding: 60px 0px 00px 50px;
}

.text-color {
    color: #9F9F9F;
}

.text-color-sec {
    color: #FD6E0A;
}

/*  */


.text-title {
    border-left: 4px solid #FD6E0A;
    padding-left: 10px;
}

.text-deception {
    margin: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(167, 160, 160, 0.2), 0 6px 20px 0 rgba(177, 165, 165, 0.19);
}

h3 {
    font-size: 20px;
}

.container-title-img {
    height: 750px;
    padding-left: 65px;
}

/* Btn Years */

.Year-top {
    text-align: center;
    transform: translate(80px);
    margin-top: -160px;
    align-items: center;
}

.btn-years {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 40px 40px;
}

.Year-title {
    font-size: 40px;
    font-weight: 950;
}

.year-experience {
    font-size: 15px;
}


/* Social Media */

.Media-ection {
    margin-top: 80px;
}

.flexible-container {
    display: flex;
}

.half-width-img {
    width: 450px;
    height: 450px;
}

.half-width-title {
    padding: 50px 0px 0px 70px;

}

.text-center {
    text-align: center;
}

.build-color {
    color: rgb(243, 115, 41);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

/*  */

.box-title {
    /* padding-left: 160px; */
    margin-top: 100px;
}

.box-container {
    display: flex;
    justify-content: center;
}

.border-img {
    text-align: center;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 50px;
}

.icon {
    width: 30px;
    height: 30px;

}

/*  */
.Sponspors-title {
    text-align: center;

}

.Sponspors-img {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 90px;
    filter: grayscale(10)
}

.img-color {
    width: 100px;
    height: 35px;
}

/*  */

footer {
    justify-content: center;
    text-align: center;
    background: #f1e2cc;
    padding: 18px;
    margin-top: 70px;
    border-radius: 5px;
}

/* ----------------- 
Media Queries 
---------------- */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .header {
        width: 100%;
    }

    .nav-titel .ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    nav ul {
        display: block;
    }

    .banner,
    .container,
    .container-img,
    .container-title,
    .Year-top,
    .box-container,
    .Sponspors-img {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        width: 100%;
    }

    .img-size {
        padding-left: 40px;
    }

    .banner-img,
    .container-title-img {
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }

    .container-title {
        padding: 0px;
        align-items: center;
    }

    .Year-top {
        transform: translate(0px);
        margin-top: 0px;
    }

    .btn-years {
        padding: 12px 15px;
    }

    .Year-title {
        font-size: 25px;
    }

    .text-title {
        font-size: 20px;
    }

    main {
        padding: 15px;
    }

    .Sponspors-img {
        align-items: center;
    }
}